.about-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10%;
  gap: 50px;
  background: linear-gradient(135deg, #fdfbfb, #ebedee);
  min-height: 70vh;
  
}

.about-section img {
  width: 330px;
  height: 330px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease-in-out;
  margin-right: 60px;
  
}

.about-section img:hover {
  transform: scale(1.05);
}

.detail {

  width: 60%;
 
}

.detail h1 {
  font-size: 2.5rem;
  color: #222;
  margin-bottom: 20px;
}

.detail h3 {
  font-size: 1.3rem;
  color: #666;
  margin-bottom: 5px;
}

.detail p {
  font-size: 1rem;
  color: #444;
  line-height: 1.6;
  text-align: start;

  margin-top: 0px;
}

.github-stats {
  display: flex;
  gap: 30px;
  margin: 20px 0;
}

.follower {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
}

.hire-btn,
.resume-btn {
  background: #0077b5;
  color: #fff;
  border: none;
  padding: 12px 25px;
  border-radius: 30px;
  margin-right: 15px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s ease-in-out;
}

.hire-btn a {
  text-decoration: none;
  color: #fff;
}

.hire-btn:hover,
.resume-btn:hover {
  background: #005582;
  transform: translateY(-3px);
}

.resume-btn {
  background: #ff5722;
}

.resume-btn:hover {
  background: #e64a19;
}

/* Responsive */
@media (max-width: 900px) {
  .about-section {
    flex-direction: column-reverse;
    text-align: center;
    padding: 40px 5%;
  }

  .about-section img {
    width: 200px;
    height: 200px;
  }

  .github-stats {
    justify-content: center;
  }
}
