:root {
    --bg: #EFECE3;
    --primary: #8FABD4;
    --dark: #4A70A9;
    --black: #000000;
  }
  
  body {
    margin: 0;
    padding: 0;
    background: var(--bg);
    font-family: "Poppins", sans-serif;
  }
  
  .signin-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .signin-card {
    background: #ffffff;
    padding: 35px;
    width: 350px;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    text-align: center;
  }
  
  .title {
    color: var(--dark);
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 25px;
  }
 
  .input-group {
    position: relative;
    margin: 20px 0;
  }
  
  .input-group input {
    width: 100%;
    padding: 12px 10px;
    border: 2px solid var(--primary);
    background: transparent;
    border-radius: 8px;
    outline: none;
    font-size: 15px;
  }
  
  .input-group label {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    background: white;
    padding: 0 6px;
    font-size: 14px;
    color: var(--black);
    transition: 0.3s;
    pointer-events: none;
  }
  
  /* Floating label effect */
  .input-group input:focus ~ label,
  .input-group input:valid ~ label {
    top: -8px;
    font-size: 12px;
    color: var(--dark);
  }
  
  .btn {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    font-size: 15px;
    margin-top: 12px;
    cursor: pointer;
    border: none;
    transition: 0.3s ease-in-out;
  }
  
  .signin-btn {
    background: var(--dark);
    color: #fff;
  }
  
  .signin-btn:hover {
    background: var(--black);
  }
  
  .google-btn {
    background: var(--primary);
    color: #fff;
  }
  
  .google-btn:hover {
    background: var(--dark);
  }
  
  .signup-text {
    margin-top: 18px;
    font-size: 14px;
  }
  
  .signup-text span {
    color: var(--black);
  }
  
  .signup-link {
    margin-left: 6px;
    background: transparent;
    color: var(--dark);
    text-decoration: underline;
    font-weight: 600;
  }
  
  .signup-link:hover {
    color: var(--black);
  }
  

  .logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }
  
  .logo {
    width: 300px;
    height: 80px;
    object-fit: contain;
  }
  