.user-card {
  background: rgba(255, 255, 255, 0.481);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 20px;
  width: 280px;
  color: black;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.user-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.5);
}

.user-card h1 {
  font-size: 1.4rem;
  margin-bottom: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 5px;
}

.user-card p, .user-card strong {
  font-size: 1rem;
  line-height: 1.5;
}

.user-card span {
  font-weight: bold;
 
}

.user-card small{
  margin-top: 12px;
  color: #3c42f0;
  font-size: 1.05rem;
  font-weight: 700px;
  cursor: 'pointer';
 text-decoration: underline;
}



